{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Superheroes</h1>
              <span class="subheading">This is who they are.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>A superhero is a heroic stock character, typically possessing supernatural or superhuman powers, who is dedicated to fighting the evil of their universe, protecting the public, and battling super-villains. A female superhero is sometimes called a superheroine, although the word superhero is also commonly used for females. Superhero fiction is the genre of fiction that is centered on such characters, especially in American comic book and films since the 1930s.</p>
          <p>Some superheroes (for example Batman) derive their status from the technology they create and use, rather than from non-human or superhuman biology. While the Dictionary.com definition of "superhero" is "a figure, especially in a comic strip or cartoon, endowed with superhuman powers and usually portrayed as fighting evil or crime", the longstanding Merriam-Webster dictionary gives the definition as "a fictional hero having extraordinary or superhuman powers; also: an exceptionally skillful or successful person."Terms such as masked crime fighters, costumed adventurers or masked vigilantes are sometimes used to refer to characters such as the Spirit, who may not be explicitly referred to as superheroes but nevertheless share similar traits.</p>
          <p>Some superheroes use their powers to help daily crime while also combating threats against humanity from supervillains, who are their criminal counterparts. Often at least one of these supervillains will be the superhero's archenemy. Some long-running superheroes and superheroines such as Superman, Spider-Man, Batman, Wonder Woman, the Hulk, Green Lantern, the Flash, Aquaman, Captain America, Thor, Wolverine, Iron Man, Fantastic Four and the X-Men have a rogues gallery of many villains.</p>
        </div>
      </div>
    </div>

   {% endblock %}
